.attractions {
	background-color: $accentColor-4;
	padding-bottom: 12rem;
	padding-top: 3rem;
	&__content {
		text-align: center;
		h2 {
			@include sectionHeadings;
		}
	}

	&__images {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		cursor: pointer;
		&--item {
			margin-bottom: 10px;
			width: calc((100% - 30px) / 3);
			position: relative;
			box-shadow: 0 1.5rem 4rem rgba($accentColor-2, .4);
			transition: all .3s;

			&:hover .overlay {
				opacity: 1;
			}

			&:hover {
				transform: scale(1.05) translateY(-.5rem);
				box-shadow: 0 2.5rem 4rem rgba($accentColor-2, .5);
				z-index: 20;
			}

			.overlay {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
			}

			h3 {
				background-color: rgba($accentColor-2, .65);
				color: $accentColor-3;
				text-align: center;
				margin: 0;
				font-size: 2rem;
				font-weight: 400;
			}

			img {
				width: 100%;
				display: block;
			}
		}
	}
}

/* Media Query */
@media all and (max-width: 900px) {
	.attractions__images--item {
		width: calc((100% - 30px) / 2);
	}
}

@media all and (max-width: 600px) {
	.attractions__images--item {
		width: 100%;
	}
}