footer {
	background-color: $accentColor-2;
	padding-top: 5px;
	padding-bottom: 2rem;

	.wrapper {
		display: flex;
		justify-content: center;
	}

	.social {
		ul {
			display: flex;
			padding: 0;
		}

		a {
			color: $accentColor-3;
			padding: 2rem;
		}

		a:hover {
			color: $accentColor;
		}

		li {
			list-style-type: none;
		}

		i {
			font-size: 3rem;
		}
	}
}